@import '../../../../utils/var.scss';

.component {
  display: flex;
  width: 360px;
  padding: 30px 0 40px 0;
  box-sizing: border-box;
  background-color: $backgroundColor;
  justify-content: center;
}
.button {
  border: none;
  width: 327px;
  @include fontBold(18px, 21px, $textSpan);
  border: 1px solid $textSpan;
  border-radius: 6px;
  background-color: #fff;
  padding: 9px 0;
  cursor: pointer;
}
